lerna-debug.log
node_modules
.DS_Store
dist/
.microsite
*.tgz
demo/

packages/microsite/**/*.js
packages/microsite/**/*.d.ts
!packages/microsite/base.json
!packages/microsite/scripts/**/*
!packages/microsite/assets/**/*

packages/create-microsite/**/*.js
packages/create-microsite/**/*.d.ts

.vercel
/packages/microsite/.test
