node_modules
.DS_Store
dist/
.microsite

packages/microsite/**/*.js
packages/microsite/**/*.d.ts
!packages/microsite/types/**/*.d.ts
!packages/microsite/**/*.json
!packages/microsite/assets/**/*

packages/create-microsite/**/*.js
packages/create-microsite/**/*.d.ts

.vercel
