.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter > button {
  padding: 1rem;
}

.counter > p {
  font-size: 4rem;
  margin-inline: 3rem;
  font-variant-numeric: tabular-nums;
  min-width: 2ch;
  text-align: center;
}

.root {
  display: flex;
  flex-flow: column nowrap;
  padding: 2em;
}

.root > span {
  display: block;
  margin-top: 1rem;
  text-align: center;
}
